# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ / Eclipse
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Environment variables
.env

# Compiled classes
*.class
